<!DOCTYPE html>
<html>
  <head>
    <title>FollowApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/a6a126b071.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark p-3">
      <%= link_to root_path, class: "navbar-brand" do %>
        LOGO
      <% end %>
    
      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Mypage", user_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Users", users_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to 'Log in', new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to 'Sign up', new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
